<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My MVC Admin Template</title>
    @Styles.Render("~/Content/Theme")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="bootstrap-admin-with-small-navbar">
   
    <!-- main / large navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Admin Panel</a>
                </div>
                <div class="collapse navbar-collapse main-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-hover="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li role="presentation" class="dropdown-header">Dropdown header</li>
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation" class="dropdown-header">Dropdown header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="collapse navbar-collapse bootstrap-admin-navbar-sm">
                        <ul class="nav navbar-nav navbar-right ">
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li>
                                <a href="#">Reminders <i class="glyphicon glyphicon-bell"></i></a>
                            </li>
                            <li>
                                <a href="#">Settings <i class="glyphicon glyphicon-cog"></i></a>
                            </li>
                            <li>
                                <a href="#">Go to frontend <i class="glyphicon glyphicon-share-alt"></i></a>
                            </li>
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div>
        </div><!-- /.container -->
    </nav>
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
        <div class="row">
            <hr>
            <footer role="contentinfo">
                <p>&copy;  @DateTime.Now.Year -  <a href="https://github.com/jrocket" target="_blank">jrocket</a></p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
